@include desktop   {

/* -------------------------------
ANIMATION DE LA SECTION .PRINCIPAL
---------------------------------- */
$columns: 5;
@for $i from 1 through $columns {
  .principal h2:nth-of-type(#{$i}) {
    animation: anim-#{$i} 1s .5*($i#{s}) both;
  }
}

$tabTranslate: (
    1:translateY(-500px),
    2:translateY(-600px),
    3:translateX(-500px),
    4:translateY(600px),
    5:translateY(500px)
);

@each $i ,$elem in $tabTranslate {
    @keyframes anim-#{$i}{
        0%{transform: $elem;}
        100%{transform: translate(0);}
    }
}

/* ----------------------------------------------
ANIMATION DE LA PAGE D'ACCEUIL ( ANNONCE + BODY )
------------------------------------------------- */

// animation couleur du reste du fond (synchro avec les animations d'annonces)
body {
    animation: anim-couleur-polygone 35s ease-in;
}

@keyframes anim-couleur-polygone {
    0%{background-color: couleur(commun_fond);}
    25%{background-color: couleur(burger_fond);}
    50%{background-color: couleur(ville_fond);}
    75%{background-color: couleur(virus_fond);}
    100%{background-color: couleur(ferme_fond);}
}

// animation couleur du fond des annonces individuelles
#burger {
    animation: anim-couleur-burger 5s ease-in;
    animation-delay: 5s;
}

@keyframes anim-couleur-burger {
    0%{background-color: couleur(commun_fond);}
    90%{background-color: couleur(burger_fond);}
    100%{background-color: couleur(commun_fond);}
}

#ville {
    animation: anim-couleur-ville 5s ease-in;
    animation-delay: 15s;
}

@keyframes anim-couleur-ville {
    0%{background-color: couleur(commun_fond);}
    90%{background-color: couleur(ville_fond);}
    100%{background-color: couleur(commun_fond);}
}

#virus {
    animation: anim-couleur-virus 5s ease-in;
    animation-delay: 20s;
}

@keyframes anim-couleur-virus {
    0%{background-color: couleur(commun_fond);}
    90%{background-color: couleur(virus_fond);}
    100%{background-color: couleur(commun_fond);}
}

#ferme {
    animation: anim-couleur-ferme 5s ease-in;
    animation-delay: 30s;
}

@keyframes anim-couleur-ferme {
    0%{background-color: couleur(commun_fond);}
    90%{background-color: couleur(ferme_fond);}
    100%{background-color: couleur(commun_fond);}
}

}