$couleur_desktop: lavender;
$couleurs : (
    primaire : $couleur_desktop,
    text:pink,
    pale: #dffad7,
    primaire_pale : lighten($couleur_desktop, 40%)
    );


@function couleur($propriete){
    @return map-get($couleurs, $propriete);
}
