/* --------------------------------------------------
Variables
------------------------------------------------- */
/* --------------------------------------------------
Mixin
----------------------------------------------- */
/* --------------------------------------------------
Animation
------------------------------------------------- */
/* -------------------------------
ANIMATION DE LA SECTION .PRINCIPAL
---------------------------------- */
.principal h3:nth-of-type(1) {
  animation: anim-1 1s 0.5s both;
}

.principal h3:nth-of-type(2) {
  animation: anim-2 1s 1s both;
}

.principal h3:nth-of-type(3) {
  animation: anim-3 1s 1.5s both;
}

.principal h3:nth-of-type(4) {
  animation: anim-4 1s 2s both;
}

.principal h3:nth-of-type(5) {
  animation: anim-5 1s 2.5s both;
}

@keyframes anim-1 {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes anim-2 {
  0% {
    transform: translateY(-600px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes anim-3 {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes anim-4 {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes anim-5 {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translate(0);
  }
}

/* ----------------------------------------------
ANIMATION DE LA PAGE D'ACCEUIL ( ANNONCE + BODY )
------------------------------------------------- */
body {
  animation: anim-couleur-polygone 35s ease-in;
}

@keyframes anim-couleur-polygone {
  0% {
    background-color: #efebc5;
  }
  25% {
    background-color: #f3ccd3;
  }
  50% {
    background-color: #bff8a5;
  }
  75% {
    background-color: #baeef7;
  }
  100% {
    background-color: #f5cea5;
  }
}

#burger {
  animation: anim-couleur-burger 5s ease-in;
  animation-delay: 5s;
}

@keyframes anim-couleur-burger {
  0% {
    background-color: #efebc5;
  }
  90% {
    background-color: #f3ccd3;
  }
  100% {
    background-color: #efebc5;
  }
}

#ville {
  animation: anim-couleur-ville 5s ease-in;
  animation-delay: 15s;
}

@keyframes anim-couleur-ville {
  0% {
    background-color: #efebc5;
  }
  90% {
    background-color: #bff8a5;
  }
  100% {
    background-color: #efebc5;
  }
}

#virus {
  animation: anim-couleur-virus 5s ease-in;
  animation-delay: 20s;
}

@keyframes anim-couleur-virus {
  0% {
    background-color: #efebc5;
  }
  90% {
    background-color: #baeef7;
  }
  100% {
    background-color: #efebc5;
  }
}

#ferme {
  animation: anim-couleur-ferme 5s ease-in;
  animation-delay: 30s;
}

@keyframes anim-couleur-ferme {
  0% {
    background-color: #efebc5;
  }
  90% {
    background-color: #f5cea5;
  }
  100% {
    background-color: #efebc5;
  }
}

/* --------------------------------------------------
Layout
------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #fff;
}

body::after {
  content: "";
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-color: lavender;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

p {
  font-size: .6rem;
}

.bloc {
  border: 1px solid #666;
  background-color: transparent;
  color: black;
  font-size: 3rem;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bloc img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin-right: 15px;
}

.grille {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "entete entete entete" "menu menu menu" "annonce1 annonce1 annonce1" "principal principal principal" "pied-page pied-page pied-page";
}

@media (min-width: 1000px) {
  .grille {
    grid-template-areas: "entete entete entete" "menu menu menu" "principal annonce1 annonce1" "pied-page pied-page pied-page";
  }
}

.entete {
  grid-area: entete;
}

.menu {
  grid-area: menu;
}

.annonce1 {
  grid-area: annonce1;
}

.principal {
  grid-area: principal;
}

.pied-page {
  grid-area: pied-page;
}

.annonce1 {
  background-color: #efebc5;
  color: #5e6e81;
  border-radius: 10px;
  box-shadow: 7px 3px 11px 4px #757472;
  padding: 42px;
  margin: 20px;
}

.annonce1 div {
  font-size: .4em;
  display: flex;
  align-items: center;
}

.annonce2 {
  padding: 42px;
  margin: 20px;
  background-color: #efebc5;
  color: #1c2127;
  grid-area: annonce2;
}

.annonce2 section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal h3 {
  padding: 1.3rem 0 1.3rem 0;
}
/*# sourceMappingURL=style.css.map */